body{
    background: #FDFBF8;
}

h2{
    color: #264d25;
    padding-left: 40px;
    font-family: "Gill Sans", sans-serif;
    font-weight: normal;
    font-size: 40px;
}


.main_back {
    background: #e4ede6;
    font-family: "Gill Sans", sans-serif;
    font-size: 25px;
    color: #264d25;
    width: 8000px;
    height: 100px;
    padding-left: 40px;
    padding-top: 20px;
    box-sizing: border-box;
    margin-top: 10px;
}


.special{
    color: #264d25;
    padding-left: 40px;
    font-family: "Gill Sans", sans-serif;
    font-weight: normal;
    font-size: 30px;
}

.mini_special{
    color: #264d25;
    padding-left: 5px;
    font-family: "Gill Sans", sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.hats_back {
    background: #e4ede6;
    font-family: "Gill Sans", sans-serif;
    font-size: 25px;
    color: #264d25;
    width: 8000px;
    height: 160px;
    padding-left: 40px;
    padding-top: 20px;
    box-sizing: border-box;
    margin-top: 10px;
}
