<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Tamara" />
        <meta name="description" content="Первый сайт на Flask" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
        {% if title %}
            <title> {{ title }} </title>
        {% else %}
            <title> Magic knitting </title>
        {% endif %}
    </head>

    <body>
        <!-- На главную-->
        <a href="http://127.0.0.1:5000" ><h2> @grinko_koko </h2> </a>

        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>