{% extends 'base.html' %}
{% block content %}
{{ super() }}

<div class="hats_back">
    <div> Чепчики могут быть выполнены в различных стилях и узорах. </div>
    <div> Они могут быть украшены декоративными элементами, такими как цветы или пуговицы. </div>
    <div> Чепчики могут быть выполнены из различных материалов, </div>
    <div> включая шерсть, акрил или смеси пряжи 🧶 </div>
</div>
<img id="object-position-1" src="/static/images/cap1.jpg" width=400px height=500px alt="cap1"/>
<img src="/static/images/cap2.jpg" width=400px height=500px alt="cap2"/>

{% endblock %}