{% extends 'base.html' %}
{% block content %}
{{ super() }}

<div class="hats_back">
    <div> Вязаные кардиганы могут быть разной длины и формы. </div>
    <div> Некоторые из них могут быть короткими в стиле кроп-топ, </div>
    <div> а другие могут быть длинными в стиле оверсайз. </div>
    <div> Кардиганы могут быть выполнены в различных стилях и узорах 🥻 </div>
</div>
<img id="object-position-1" src="/static/images/cardigan1.jpeg" width=350px height=450px alt="cardigan1"/>
<img src="/static/images/cardigan2.jpeg" width=350px height=450px alt="cardigan2"/>

{% endblock %}