{% extends 'base.html' %}

{% block content %}
{{ super() }}

<div class="hats_back">
    <div> Вязаные шапки могут быть стильным и модным аксессуаром. </div>
    <div> Они могут быть частью повседневного наряда или использоваться для создания модного образа. </div>
    <div> Благодаря разнообразию дизайнов и цветов, каждый может найти вязаную шапку, </div>
    <div> которая соответствует его стилю и предпочтениям. </div>
</div>
<img id="object-position-1" src="/static/images/hats1.jpg" width=520px height=400px alt="hat1"/>
<img src="/static/images/hats2.jpg" width=520px height=400px alt="hat2"/>

{% endblock %}