<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Tamara" />
        <meta name="description" content="Первый сайт на Flask" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        <title> Magic knitting </title>
    </head>

    <body>
        <!-- Работа над сайтом с вязанием во Flask-->
        {% if date.strftime('%H') in ['6', '7', '8', '9', '10', '11'] %}
            <h2> {{day_period.morning}}</h2>
        {% elif date.strftime('%H') in ['12', '13', '14', '15', '16', '17'] %}
            <h2> {{day_period.day}}</h2>
        {% elif date.strftime('%H') in ['18', '19', '20', '21', '22'] %}
            <h2> {{day_period.evening}}</h2>
        {% else %}
            <h2> {{day_period.night}} </h2>
        {% endif %}

        <!-- Основной мини_блог -->
        <div>
            <div class="main_back">
                <div> Меня зовут Тамара и я создаю теплые изделия 🧣 </div>
                <div> Теплые они, потому что связанны с душой 💕 </div>

            </div>
        </div>

        <h3 class="special"> Волшебные вещи: </h3>
        <ul>
            {% for elem in products %}
                <a href="http://127.0.0.1:5000/{{elem}}"> <li class="mini_special"> {{elem}} </li> </a>
            {% endfor %}
        </ul>

        <h3 class="special"> По типу: </h3>
        <ul>
            <li class="mini_special"> Вязание спицами </li>
            <li class="mini_special"> Вязание крючком </li>
        </ul>
    </body>
</html>