<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Tamara" />
        <meta name="description" content="Первый сайт на Flask" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        <title> Magic scarves </title>
    </head>

    <body>
        <!-- Страница с шарфами-->
        <a href="http://127.0.0.1:5000" ><h2> @grinko_koko </h2> </a>

        <div>
            <div class="hats_back">
                <div> Вязаные шарфы могут быть разных размеров, цветов и узоров, </div>
                <div> что позволяет выбрать подходящий вариант для любого стиля и настроения. </div>
                <div> Они также могут быть украшены кистями или другими декоративными элементами. </div>
                <div> Вязаный шарф является популярным подарком для ваших близких 🎁 </div>
            </div>
            <img src="/static/images/scarves1.jpg" width=500px height=400px alt="hat"/>
            <img src="/static/images/scarves2.jpg" width=500px height=400px alt="hat"/>
        </div>





    </body>
</html>