{% extends 'base.html' %}

{% block content %}
{{ super() }}


<div class="hats_back">
    <div> Вязаные шарфы могут быть разных размеров, цветов и узоров, </div>
    <div> что позволяет выбрать подходящий вариант для любого стиля и настроения. </div>
    <div> Они также могут быть украшены кистями или другими декоративными элементами. </div>
    <div> Вязаный шарф является популярным подарком для ваших близких 🎁 </div>
</div>
<img id="object-position-1" src="/static/images/scarves1.jpg" width=450px height=400px alt="scarves1"/>
<img src="/static/images/scarves2.jpg" width=550px height=400px alt="scarves2"/>

{% endblock %}