{% extends 'base.html' %}
{% block content %}
{{ super() }}

<div class="hats_back">
    <div> Сейчас вязаные жилеты очень популярны! Это настоящий модный тренд. </div>
    <div> Предлагаю присмотреться вот к этим моделям и попробовать связать себе стильную обновку. </div>
    <div> Каждый квадрат, вручную связанный с любовью и тщательностью, создает неповторимый узор, </div>
    <div> добавляя вещице оригинальности и индивидуальности 😊 </div>
</div>
<img id="object-position-1" src="/static/images/waistcoat1.jpg" width=350px height=450px alt="waistcoat1"/>
<img src="/static/images/waistcoat2.jpg" width=275px height=450px alt="waistcoat2"/>

{% endblock %}