{% extends 'base.html' %}
{% block content %}
{{ super() }}

<div class="hats_back">
    <div> Мягкие и уютные вязаные пледы для новорожденных всегда есть в гардеробе младенца. </div>
    <div> Их, пожалуй, можно считать самым универсальным элементом. </div>
    <div> Плед выполнен из пряжи высокого качества и только из безопасных материалов. </div>
    <div> Он подарит малышу чувство комфорта и поможет ему сладко засыпать 👶 </div>
</div>
<img id="object-position-1" src="/static/images/wrap1.jpg" width=300px height=400px alt="wrap1"/>


{% endblock %}